@import '../theme.less';


.default {
    background-color: transparent;

    &&:hover {
        box-shadow: none;
    }
}

.reset {
    padding: 8px 25px;
    display: block;
    color: @textColor;
    border: none;
    font-size: 18px;
    border-radius: 5px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}

.primary {
    background-color: @primary;
}