
@import '../theme.less';

.dropDown {
    margin: 5px;
    appearance: none;
    background-color: @primary;
    border: none;
    color: @textColor;
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 5px;
}