@import '../theme.less';

.open {
    transform: translateX(0);
    transition: all 1s;
}

.close {
    transform: translateX(-1000px);
    transition: all 1s;
}

.wrapper {
    background-color: @secondary;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}
.wrapperOpen {
    width: 10%;
}

.wrapperClose {
    width: 5%;
}