@primary: #84bb28;
@secondary: #409752;
@textColor: #005EAA;
@white: #ffffff;
@main-bg-color: #005055;



@font-face {
    font-family: 'Open Sans';
    src: url('../public/fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../public/fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../public/fonts/OpenSans-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

.ffbasic() {
    font-family: 'Open Sans', sans-serif;
}